<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MovieInfo | [[${movie.getMovie_name()}]]</title>
</head>
<body>
<div>
    <div>电影名：[[${movie.getMovie_name()}]]</div>
    <div>别名：[[${movie.getMovie_anothername()}]]</div>
    <div>导演：[[${movie.getMovie_director()}]]</div>
    <div>编剧：[[${movie.getMovie_scriptwriter()}]]</div>
    <div>主演：[[${movie.getMovie_actor()}]]</div>
    <div>类型：[[${movie.getMovie_type()}]]</div>
    <div>语言：[[${movie.getMovie_language()}]]</div>
    <div>片长：[[${movie.getMovie_length()}]]</div>
    <div>上映时间：[[${movie.getMovie_time()}]]</div>
    <div>国家：[[${movie.getMovie_from()}]]</div>
    <div>剧情简介：[[${movie.getMovie_description()}]]</div>
</div>
<div>
    <textarea id="comment"></textarea>
    <button id="commit" onclick="pushComment()">提交</button>
</div>

</body>
<script th:src="@{/asserts/js/jquery.js}"></script>
<script type="application/javascript">
    initComments();
    function initComments() {
        var movie_id = [[${movie_id}]];
        var data;
        $.ajax({
            async : false,
            type : 'POST',
            url : "http://localhost:8080/getcomment",
            data : {"movie_id": movie_id},
            success : function(result) {
                data = result;
                alert(data);
            },
            error : function(result) {
                alert('服务器异常');
            }
        });
    }

    function pushComment() {
        var word = {};
        word.user_id = [[${userid}]];
        word.comment = document.getElementById("comment").value;
        word.movie_id = [[${movie_id}]];
        $.ajax({
            async : false,
            type : 'POST',
            url : "http://localhost:8080/updatecomment",
            data : word,
            success : function(result) {
                alert('发送成功');
            },
            error : function(result) {
                alert('服务器异常');
            }
        });
    }
</script>
</html>