<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新用户</title>
    <link rel="stylesheet" href="asserts/css/style.css" media="screen" type="text/css" />
</head>
<body>
    <ul id="moviebox">
        <li th:each="movie:${movies}" th:name="${movie.getMovie_id()}" onclick="li_click(this)"><img th:src="@{'movie_poster/' + ${movie.getMovie_name()} + '.jpg'}" /></li>
    </ul>
    <button onclick="updatelikes()">选择完成</button>
    <button onclick="change_movies()">换一换</button>
</body>
<script th:src="@{/asserts/js/jquery.js}"></script>
<script type="application/javascript">
    var stringRes = "";
    var list_map = new Array(9);
    function li_click(obj) {
        $(obj).toggleClass('selected');
        if ($(obj).hasClass('selected')){
            list_map[$(obj).attr("name")] = 1;
        }else{
            list_map[$(obj).attr("name")] = 0;
        }
    };
    function updatelikes() { //上传兴趣类
        for(var i = 0; i < list_map.length; i++){
            if(list_map[i] == 1){
                stringRes += (i + ",");
            }
        }
        var likes = {};
        likes.likes = stringRes;
        likes.userid = [[${userid}]];
        $.ajax({
            async : false,
            type : 'POST',
            url : "http://localhost:8080/updatelikes",
            data : likes,
            success : function(result) {
                alert('上传成功');
            },
            error : function(result) {
                alert('服务器异常');
            }
        });
        window.location.href="http://localhost:8080/index";
    }

    function change_movies() { //换一换
        $.ajax({
            async : false,
            type : 'POST',
            url : "http://localhost:8080/change",
            success : function(result) {
                var movies = eval(result.content);
                // console.log(movies);
                var movie_list = "";
                for(var i in movies){
                    movie_list += '<li name=' + movies[i].movie_id + ' onclick=\"li_click(this)\"><img src=\"movie_poster/' + movies[i].movie_name + '.jpg\"/></li>'
                }
                document.getElementById("moviebox").innerHTML = movie_list;
            },
            error : function(result) {
                alert('服务器异常');
            }
        });
        list_map = new Array(9);
    }
</script>
</html>